<%- include( "../includes/head.ejs" ) %>
<link rel="stylesheet" href="/css/orders.css">
</head>
<body>
<%- include( "../includes/navigation.ejs" ) %>
<main>
    <% if( orders.length > 0 ){ %>
        <ul class="orders">
            <% for( let order of orders ){%>
                <li class="orders__item">
                    <h1>Order - #<%= order._id %> - <a href="/orders/<%= order._id %>">Download invoice</a></h1>
                    <ul class="orders__products">
                        <% for( let productData of order.products ){%>
                            <li class="orders__products-item"><%= productData.product.title %> (<%= productData.quantity %>)</li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <h1>No history..</h1>
    <% } %>
</main>
<%- include( "../includes/end.ejs" ) %>
