<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="/css/main.css" />
    {{!-- This comment won't be in the output --}}
    {{!-- Not elegant solution. To improve check Hbs helpers --}}
    {{#if productCSS }}
        <link rel="stylesheet" href="/css/product.css" />
    {{/if}}
    {{#if formsCSS }}
        <link rel="stylesheet" href="/css/forms.css" />
    {{/if}}
    {{#if cartCSS }}
        <link rel="stylesheet" href="/css/cart.css" />
    {{/if}}
    {{#if ordersCSS }}
        <link rel="stylesheet" href="/css/orders.css" />
    {{/if}}
    {{#if authCSS }}
        <link rel="stylesheet" href="/css/auth.css" />
    {{/if}}

</head>
<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                {{!-- Values are treated as false if not passed --}}
                <li class="main-header__item"><a class="{{#if activeShop }}active{{/if}}" href="/">Shop</a></li>
                <li class="main-header__item"><a class="{{#if activeProducts }}active{{/if}}" href="/products">Products</a></li>
                {{#if isAuthenticated }}
                    <li class="main-header__item"><a class="{{#if activeCart }}active{{/if}}" href="/cart">Cart</a></li>
                    <li class="main-header__item"><a class="{{#if activeOrders }}active{{/if}}" href="/orders">Orders</a></li>
                    <li class="main-header__item"><a class="{{#if activeAddProduct }}active{{/if}}" href="/admin/add-product">Add Product</a></li>
                    <li class="main-header__item"><a class="{{#if activeAdminProducts }}active{{/if}}" href="/admin/products">Admin Products</a></li>
                {{/if}}
            </ul>
            <ul class="main-header__item-list">
                {{#unless isAuthenticated }}
                    <li class="main-header__item"><a class="{{#if activeLogin }}active{{/if}}" href="/login">Login</a></li>
                    <li class="main-header__item"><a class="{{#if activeSignup }}active{{/if}}" href="/signup">Register</a></li>
                {{ else }}
                    <li class="main-header__item">
                        <form action="/logout" method="POST">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                {{/unless}}
            </ul>
        </nav>
    </header>

    <nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item"><a class="{{#if activeShop }}active{{/if}}" href="/">Shop</a></li>
            <li class="mobile-nav__item"><a class="{{#if activeProducts }}active{{/if}}" href="/products">Products</a></li>
            {{#if isAuthenticated }}
                <li class="mobile-nav__item"><a class="{{#if activeCart }}active{{/if}}" href="/cart">Cart</a></li>
                <li class="mobile-nav__item"><a class="{{#if activeOrders }}active{{/if}}" href="/orders">Orders</a></li>
                <li class="mobile-nav__item"><a class="{{#if activeAddProduct }}active{{/if}}" href="/admin/add-product">Add Product</a></li>
                <li class="mobile-nav__item"><a class="{{#if activeAdminProducts }}active{{/if}}" href="/admin/products">Admin Products</a></li>
            {{/if}}
        </ul>
        <ul class="mobile-nav__item-list">
            {{#unless isAuthenticated }}
                <li class="mobile-nav__item"><a class="{{#if activeLogin }}active{{/if}}" href="/login">Login</a></li>
                <li class="mobile-nav__item"><a class="{{#if activeSignup }}active{{/if}}" href="/signup">Register</a></li>
            {{ else }}
                <li class="mobile-nav__item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {{/unless}}
        </ul>
    </nav>
    {{!-- Adds "anchor" that can be extended in other views --}}
    {{{ body }}}
    <script src="/js/main.js"></script>
</body>
</html>
