<main>
    {{#if hasError }}
        <div class="user-message user-message__error">{{ errorMessage }}</div>
    {{/if}}
    {{#ifCond editing "||" hasError }}{{/ifCond}}
    <form class="product-form" action="/admin/{{#if editing }}edit-product{{else}}add-product{{/if}}" method="POST" enctype="multipart/form-data">
        <div class="form-control">
            <label for="title">Title</label>
            <input id="title" class="{{ validationErrors.title }}" type="text" name="title" value="{{#ifCond editing "||" hasError }}{{ product.title }}{{/ifCond}}">
        </div>
        <!--<div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input id="imageUrl" class="{{ validationErrors.imageUrl }}" type="text" name="imageUrl" value="{{#ifCond editing "||" hasError }}{{ product.imageUrl }}{{/ifCond}}">
        </div>-->
        <div class="form-control">
            <label for="image">Image</label>
            <input id="image" type="file" name="image">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input id="price" class="{{ validationErrors.price }}" type="number" step="0.01" name="price" value="{{#ifCond editing "||" hasError }}{{ product.price }}{{/ifCond}}">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea id="description" class="{{ validationErrors.description }}" rows="5" name="description">{{#ifCond editing "||" hasError }}{{ product.description }}{{/ifCond}}</textarea>
        </div>

        {{#if editing }}
            <input type="hidden" name="productId" value="{{ product._id  }}">
        {{/if}}
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button class="btn" type="submit">{{#ifCond editing "||" hasError }} Update Product {{else}} Add product {{/ifCond}}</button>
    </form>
</main>
