{{!-- Uses default layout on top by default --}}
<main>
    {{#if hasProducts }}
        <div class="grid">
            {{#each products }}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">{{ this.title }}</h1>
                    </header>
                    <div class="card__image">
                        <img src="{{ this.imageUrl }}" alt="{{ this.title }}">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">{{ this.price }}€</h2>
                        <p class="product__description">{{ this.description }}</p>
                    </div>
                    <div class="card__actions">
                        <a class="btn" href="/admin/edit-product/{{ this._id }}?edit=true">Edit</a>
                        <input type="hidden" name="productId" value="{{ this._id }}">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                        <button class="btn" type="button" onclick="deleteProduct( this )">Delete</button>
                    </div>
                </article>
            {{/each}}
        </div>
    {{ else }}
        <h1>No products</h1>
    {{/if}}
</main>
<script type="text/javascript" src="/js/admin.js"></script>
