<main>
    {{#if hasProducts }}
        <ul class="cart__item-list">
            {{#each products }}
                <li class="cart__item">
                    <h1>{{ this.productId.title }}</h1>
                    <h2>Quantity: {{ this.quantity }}</h2>
                    <form action="cart-delete-item" method="POST">
                        <input type="hidden" name="productId" value="{{ this.productId._id }}">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
            {{/each}}
        </ul>
        <hr />
        <div class="centered">
            <!--<form action="submit-order" method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <button class="btn" type="submit">Order!</button>
            </form>-->
            <a class="btn" href="/checkout">Order now!</a>
        </div>
    {{ else }}
        <h1>No products in cart!</h1>
    {{/if}}
</main>
