<main>
    <ul class="cart__item-list">
        {{#each products }}
            <li class="cart__item">
                <h1>{{ this.productId.title }}</h1>
                <h2>Quantity: {{ this.quantity }}</h2>
            </li>
        {{/each}}
    </ul>
    <div class="centered">
        <h2>Total: {{ totalSum }}€</h2>
    </div>
    <div class="centered">
        <form action="/submit-order" method="POST">
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_9xFs5UjNav5UIqBBWLLfYS4b00rSrw4aS0"
            data-amount="{{ totalSumStripe }}"
            data-name="Demo purhcase"
            data-description="Your ordered items"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="eur">
            </script>
        </form>
    </div>
</main>
