{{!-- Uses default layout on top by default --}}
<main>
    {{#if hasProducts }}
        <div class="grid">
            {{#each products }}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">{{ this.title }}</h1>
                    </header>
                    <div class="card__image">
                        <img src="{{ this.imageUrl }}" alt="{{ this.title }}">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">{{ this.price }}€</h2>
                        <p class="product__description">{{ this.description }}</p>
                    </div>
                    <div class="card__actions">
                        <a class="btn" href="/products/{{ product._id }}">Details</a>
                        {{#if isAuthenticated }}
                            <form action="/cart" method="POST">
                                <input type="hidden" name="productId" value="{{ product._id }}">
                                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                                <button class="btn" type="submit">Add to Cart</button>
                            </form>
                        {{/if}}
                    </div>
                </article>
            {{/each}}
        </div>
        <section class="pagination">
            {{#if displayFirstPage }}
                <a href="?page=1">1</a>
            {{/if}}
            {{#if hasPreviousPage }}
                <a href="?page={{ previousPage }}">{{ previousPage }}</a>
            {{/if}}
            <a href="?page={{ currentPage }}" class="active">{{ currentPage }}</a>
            {{#if hasNextPage }}
                <a href="?page={{ nextPage }}">{{ nextPage }}</a>
            {{/if}}
            {{#if displayLastPage }}
                <a href="?page={{ lastPage }}">{{ lastPage }}</a>
            {{/if}}
        </section>
    {{ else }}
        <h1>No products</h1>
    {{/if}}
</main>
