<main>
    {{#if hasOrders }}
        <ul class="orders">
            {{#each orders}}
                <li class="orders__item">
                    <h1>Order - #{{ this._id }}  - <a href="/orders/{{ this._id }}">Download invoice</a></h1>
                    <ul class="orders__products">
                        {{#each this.products }}
                            <li class="orders__products-item">{{ this.product.title }} ({{ this.quantity }})</li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {{ else }}
        <h1>No history..</h1>
    {{/if}}
</main>
