<main class="centered">
        <h1>{{ product.title }}</h1>
        <hr />
        <div class="image">
            <img src="{{ product.imageUrl }}" alt="{{ product.title }}">
        </div>
        <h2>{{ product.price }}€</h2>
        <p>{{ product.description }}</p>
        {{#if isAuthenticated }}
            <form action="/cart" method="POST">
                <button class="btn" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value="{{ product._id }}">
            </form>
        {{/if}}
</main>
