<!DOCTYPE html>
//- Pug comments that don't appear in html. They must be on their own line.
//- Syntax: htlmElement.class.anotherClass( attributes like in html ) inner HTML text.
//- Example: p.red.floating-text This text is visible
//- Example: img.lightbox(src="asd", alt="alt")
html(lang="en")                                                                 
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{ pageTitle }
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add product
    main
        if products.length > 0
            //- Just class will default to div.
            .grid
                //- For-loop. Items a.k.a products comes as res.render()-parameter.
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{ product.title }
                        .card__image
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrlnZHkRU1otSq9HO1hYocDIlSVnr98WTEfEO7kSrEruN_v33w8g", alt="A Book")
                        .card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things!
                        .card__actions
                            button.btn Add to Cart
        else
            h1 No products
