<%# with = outputs escaped text (safe html) and with - not escaped. So the second should be used for server side includes #%>
<%- include( "includes/head.ejs" ) -%>
</head>
<body>
    <%- include( "includes/navigation.ejs" ) -%>
    <h1>Page Not Found!</h1>
<%- include( "includes/end.ejs" ) -%>
