<main>
    {{#if hasError }}
        <div class="user-message user-message__error">{{ errorMessage }}</div>
    {{/if}}
    <form class="login-form" action="/login" method="POST">
        <div class="form-control">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" value="{{ oldInput.email }}" />
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="btn" type="submit">Login</button>
    </form>
    <div class="centered">
        <a href="/reset">Forgot password?</a>
    </div>
</main>
