<main>
    {{#if hasErrorMessage }}
        <div class="user-message user-message__error">{{ errorMessage }}</div>
    {{/if}}
    <form class="login-form" action="/new-password" method="POST">
        <div class="form-control">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <input type="hidden" name="userId" value="{{ userId }}" />
        <input type="hidden" name="passwordToken" value="{{ passwordToken }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="btn" type="submit">Login</button>
    </form>
</main>
