<main>
    {{#if hasErrorMessage }}
        <div class="user-message user-message__error">{{ errorMessage }}</div>
    {{/if}}
    <form class="login-form" action="/reset" method="POST">
        <div class="form-control">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" />
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="btn" type="submit">Reset Password</button>
    </form>
</main>
