<main>
    {{#if hasError }}
        <div class="user-message user-message__error">{{ errorMessage }}</div>
    {{/if}}
    <form class="login-form" action="/signup" method="POST">
        <div class="form-control">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" value="{{ oldInput.firstName }}">
        </div>
        <div class="form-control">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" value="{{ oldInput.lastName }}">
        </div>
        <div class="form-control">
            <label for="email">E-Mail</label>
            <input class="{{ validationErrors.email }}" type="email" name="email" id="email" value="{{ oldInput.email }}">
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input class="{{ validationErrors.password }}" type="password" name="password" id="password">
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input class="{{ validationErrors.confirmPassword }}" type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="btn" type="submit">Register</button>
    </form>
</main>
