<%- include( "../includes/head.ejs" ) %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/auth.css" />
</head>
<body>
    <%- include( "../includes/navigation.ejs" ) %>
<main>
    <% if( errorMessage ){ %>
        <div class="user-message user-message__error"><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="/new-password" method="POST">
        <div class="form-control">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">Reset Password</button>
    </form>
</main>
<%- include( "../includes/end.ejs" ) %>
