<%- include( "../includes/head.ejs" ) %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
</head>
<body>
    <%- include( "../includes/navigation.ejs" ) %>
<main>
    <% if( errorMessage ){ %>
        <div class="user-message user-message__error"><%= errorMessage %></div>
    <% } %>
    <form class="product-form" action="/admin/<% if(editing){ %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
        <div class="form-control">
            <label for="title">Title</label>
            <input id="title" class="<%= validationErrors.title %>" type="text" name="title" value="<% if( editing || hasError ){ %><%= product.title %><% } %>">
        </div>
        <!--<div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input id="imageUrl" class="<%= validationErrors.imageUrl %>" type="text" name="imageUrl" value="<% if( editing || hasError ){ %><%= product.imageUrl %><% } %>">
        </div>-->
        <div class="form-control">
            <label for="image">Image</label>
            <input id="image" type="file" name="image">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input id="price" class="<%= validationErrors.price %>" type="number" step="0.01" name="price" value="<% if( editing || hasError ){ %><%= product.price %><% } %>">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea id="description" class="<%= validationErrors.description %>" rows="5" name="description"><% if( editing || hasError ){ %><%= product.description %><% } %></textarea>
        </div>

        <% if( editing ) { %>
            <input type="hidden" name="productId" value="<%= product._id %>">
        <% } %>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit"><% if(editing){ %> Update product <% } else { %> Add product <% } %></button>
    </form>
</main>
<%- include( "../includes/end.ejs" ) %>
