extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")
        
block content
    main
        if errorMessage
            .user-message.user-message__error #{ errorMessage }

        form.product-form(action=editing ? "/admin/edit-product" : "/admin/add-product", method="POST", enctype="multipart/form-data")
            .form-control
                label(for="title") Title
                input#title(class=validationErrors.title, type="text", name="title", value=editing || hasError  ? product.title : "")
            //-
                .form-control
                    label(for="imageUrl") Image URL
                        input#imageUrl(class=validationErrors.imageUrl, type="text", name="imageUrl", value=editing || hasError ? product.imageUrl : "")
            .form-control
                label(for="image") Image
                    input#image(type="file", name="image")
            .form-control
                label(for="price") Price
                    input#price(class=validationErrors.price, type="number", name="price", step="0.01", value=editing || hasError ? product.price : "")
            .form-control
                label(for="description") Description
                    textarea#description(class=validationErrors.description, rows="5", name="description") #{editing || hasError ? product.description: ""}
                
            if editing
                input(type="hidden", name="productId", value=product._id)
            input(type="hidden", name="_csrf", value=csrfToken)
            button.btn(type="submit") #{ editing ? "Update product" : "Add product" }
