extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/product.css")
        
block content
    main
        if products.length > 0
            //- Just class will default to div.
            .grid
                //- For-loop. Items a.k.a products comes as res.render()-parameter.
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{ product.title }
                        .card__image
                            img(src=product.imageUrl, alt=product.title)
                        .card__content
                            h2.product__price #{ product.price }€
                            p.product__description #{ product.description }
                        .card__actions
                            a.btn(href="/admin/edit-product/" + product._id + "?edit=true") Edit
                            input(type="hidden", name="productId", value=product._id)
                            input(type="hidden", name="_csrf", value=csrfToken)
                            button.btn(type="button", onclick="deleteProduct( this )") Delete
        else
            h1 No products
    script(type="text/javascript", src="/js/admin.js")
