extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")
        
block content
    main
        if errorMessage
            .user-message.user-message__error #{ errorMessage }
            
        form.login-form(action="/login", method="POST")
            .form-control
                label(for="email") Email
                input#email(type="email", name="email", value=oldInput.email)
            .form-control
                label(for="password") Password
                    input#password(type="password", name="password")
                        
            input(type="hidden", name="_csrf", value=csrfToken)
            button.btn(type="submit") Login
            
        .centered
            a(href="/reset") Forgot password?
