extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")
        
block content
    main
        if errorMessage
            .user-message.user-message__error #{ errorMessage }
            
        form.login-form(action="/new-password", method="POST")
            .form-control
                label(for="password") Password
                    input#password(type="password", name="password")
            .form-control
                label(for="confirmPassword") Confirm Password
                    input#confirmPassword(type="password", name="confirmPassword")
            
            input(type="hidden", name="userId", value=userId)
            input(type="hidden", name="passwordToken", value=passwordToken)         
            input(type="hidden", name="_csrf", value=csrfToken)
            button.btn(type="submit") Login
