extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")
        
block content
    main
        if errorMessage
            .user-message.user-message__error #{ errorMessage }
            
        form.login-form(action="/signup", method="POST")
            .form-control
                label(for="firstName") First Name
                input#firstName(type="text", name="firstName", value=oldInput.firstName)
            .form-control
                label(for="lastName") Last Name
                input#lastName(type="text", name="lastName", value=oldInput.lastName)
            .form-control
                label(for="email") Email
                input#email(class=validationErrors.email, type="email", name="email", value=oldInput.email)
            .form-control
                label(for="password") Password
                    input#password(class=validationErrors.password, type="password", name="password")
            .form-control
                label(for="confirmPassword") Confirm Password
                    input#confirmPassword(class=validationErrors.confirmPassword, type="password", name="confirmPassword")
                
            input(type="hidden", name="_csrf", value=csrfToken)
            button.btn(type="submit") Register
