<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Awesome webshop project">
    <meta name="theme-color" content="#00695c">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
