extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")
    
block content
    main
        if products.length > 0
            ul.cart__item-list
                each p in products
                    li.cart__item
                        h1 #{ p.productId.title } 
                        h2 Quantity: #{ p.quantity }
                        form(action="cart-delete-item", method="POST")
                            input(type="hidden", name="productId", value=p.productId._id)
                            input(type="hidden", name="_csrf", value=csrfToken)
                            button.btn.danger(type="submit") Delete
            hr
            .centered
                //-form(action="submit-order", method="POST")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    button.btn(type="submit") Order!
                //
                a.btn(href="/checkout") Order now!
        else
            h1 No products in cart!
