extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")
    
block content
    main
        ul.cart__item-list
            each p in products
                li.cart__item
                    h1 #{ p.productId.title } 
                    h2 Quantity: #{ p.quantity }
        .centered
            h2 Total: #{ totalSum }€
        .centered
            form(action="/submit-order", method="POST")
                script(
                    src="https://checkout.stripe.com/checkout.js", class="stripe-button",
                    data-key="pk_test_9xFs5UjNav5UIqBBWLLfYS4b00rSrw4aS0",
                    data-amount= totalSum * 100,
                    data-name="Demo purhcase",
                    data-description="Your ordered items",
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png",
                    data-locale="auto",
                    data-currency="eur"
                    )
