extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/orders.css")
    
block content
    main
        if orders.length > 0
            ul.orders
                each order in orders
                    li.orders__item
                        h1 Order - ##{ order._id } -
                            a(href="/orders/" + order._id ) Download invoice
                        ul.orders__products
                            each productData in order.products
                                li.orders__products-item #{ productData.product.title } (#{ productData.quantity })
        else
            h1 No history..
