extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/product.css")
        
block content
    main
        if products.length > 0
            //- Just class will default to div.
            .grid
                //- For-loop. Items a.k.a products comes as res.render()-parameter.
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{ product.title }
                        .card__image
                            img(src=product.imageUrl, alt=product.title)
                        .card__content
                            h2.product__price #{ product.price }€
                            p.product__description #{ product.description }
                        .card__actions
                            a.btn(href="/products/" + product._id) Details
                            if isAuthenticated
                                form(action="/cart", method="POST")
                                    input(type="hidden", name="productId", value=product._id)
                                    input(type="hidden", name="_csrf", value=csrfToken)
                                    button.btn(type="submit") Add to Cart
            section.pagination
                if currentPage !== 1 && previousPage !== 1
                    a(href="?page=1") 1
                if hasPreviousPage
                    a(href="?page=" + previousPage) #{ previousPage }
                a.active(href="?page=" + currentPage) #{ currentPage }
                if hasNextPage
                    a(href="?page=" + nextPage) #{ nextPage }
                if lastPage !== currentPage && lastPage !== nextPage
                    a(href="?page=" + lastPage) #{ lastPage }
        else
            h1 No products
