extends ../layouts/main-layout.pug
block content
    main.centered
        h1 #{ product.title }
        hr
        div.image
            img(src=product.imageUrl alt=product.title)
        h2 #{ product.price }€
        p #{ product.description }
        if isAuthenticated
            form(action="/cart", method="POST")
                button.btn(type="submit") Add to Cart
                input(type="hidden", name="_csrf", value=csrfToken)
                input(type="hidden", name="productId", value=product._id)
